{% extends "base.html" %}


{% block content %}
    <h1>Your Account Details</h1>
    <p><strong>Username:</strong> {{ user.username }}</p>
    <p><strong>First Name:</strong> {{ user.first_name }}</p>
    <p><strong>Last Name:</strong> {{ user.last_name }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Date_joined :</strong> {{user.date_joined}}</p>    
    <p><strong>Followers:</strong> {{ user.followers.count }}</p>
    <p><strong>Followings:</strong> {{ user.followings.count }}</p>
    <p><a href="{% url "products:liked_products" %}"><strong>Liked Products :</strong> {{ user.liked_products.all.count }} </a></p>

    <hr>

    <h2>Actions</h2>
    <ul>
        <li><a href="{% url 'accounts:update' user.pk %}">Edit Your Information</a></li>
        <br>
        <li><a href="{% url 'accounts:delete' user.pk %}">Delete Your Account</a></li>
        <br>
        <li><a href="{% url 'products:main' %}">Back to Main Page</a></li>
    </ul>
    <br>
    

{% endblock content %}