{% extends "base.html" %}


{% block content %}


    <h1>{{user.username | upper}}'s Information Page</h1>
    <p>Username: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    <p>First Name: {{ user.first_name }}</p>
    <p>Last Name: {{ user.last_name }}</p>
    <p>Followers: {{ user.followers.count }}</p>
    <p>Followings: {{ user.followings.count }}</p>
    <p>Liked products : {{user.liked_products.count}}</p>

    <br><br>
    {% if user == request.user %}
        <a href="{% url "users:detail" user.pk %}">Personal Detail</a>
        <br>
        <br>
    {% endif %}

    <a href="{% url "products:main" %}">Go to main page</a>

{% endblock content %}