{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Django</title>

    <link rel = "stylesheet" href = "{% static 'css/style.css' %}">

</head>
<body>
    <header>
        {% if request.user.is_authenticated %}
            <p><a href="{% url "users:user" request.user.pk %}">Welcome, {{request.user.username}}</a></p>
            <form action="{% url "accounts:logout" %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="Logout">
                <br>
            </form>
        
        {% else %}
            
            <h4>Welcom To Sparta-Market</h4>
        {% endif %}

    </header>

    <hr>
    <div class="navbar">
        
    </div>

    <div class="container">    
        {% block content %}
        {% endblock content %}

    </div>

</body>
</html>