{% extends "base.html" %}


{% block content %}
    <h1>My Liked Products</h1>
    <ul style="list-style-type: none; padding: 0;">
        {% if products %}
            {% for product in products %}
                <li style="margin-bottom: 20px; border: 1px solid #ccc; padding: 15px; border-radius: 5px;">
                    {% comment %} 항목 전체를 링크로 감싸기 {% endcomment %}
                    <a href="{% url 'products:detail' product.pk %}?from=liked_products" style="text-decoration: none; color: inherit; display: block;">
                        <h2>{{ product.title }}</h2>
                        
                        {% comment %} 제품 이미지 {% endcomment %}
                        {% if product.image %}
                        <img src="{{ product.image.url }}" alt="{{ product.title }}" style="width: 200px; height: auto;">
                        {% else %}
                        <p>No image available</p>
                        {% endif %}
                            
                        <p><strong>Price:</strong> {{ product.price_format}} WON</p>
                    </a>
                    <hr style="border: 1px solid #ccc;">
                </li>
            {% endfor %}
        {% else %}
            <p>No liked products yet.</p>
        {% endif %}
    </ul>
    <a href="{% url 'products:main' %}">Back to Main</a>



{% endblock content %}



